<h1>Change some chum</h1>
<%= form_tag "/client/recipes/#{ @recipe["id"] }", method: :patch do %>
  <div>
    Title: <input type="text" name="title" value="<%= @recipe["title"]%>">
  </div>

  <div>
    Prep Time: <input type="text" name="prep_time" value="<%= @recipe["prep_time"]%>">
  </div>

  <div>
    Ingredients: <input type="text" name="ingredients" value="<%= @recipe["ingredients"]%>">
  </div>

  <div>
    Directions: <input type="text" name="directions" value="<%= @recipe["directions"]%>">
  </div>

  <div>
    Image URL: <input type="text" name="image_url">
  </div>

  <input type="submit" value="Break my heart" value="<%= @recipe["image_url"]%>">

<% end %>