<h1 class="mt-4">All the chum</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-sm-4 mt-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> <%= recipe["title"] %> </h5>
          <p class="card-text">Ingredients: <%= recipe["ingredients"] %></p>
          <p class="card-text">Prep-Time: <%= recipe["formatted"]["prep_time"] %></p>
          <p class="card-text">Directions: <%= recipe["directions"] %></p>
          <a href="/client/recipes/<%= recipe["id"] %>" class="btn btn-primary">TRY IT OUT</a>
        </div>
      </div>
    </div>
  <% end %>
</div>