<h1>All the chum</h1>

<% @recipes.each do |recipe| %>
  <h2><a href="/client/recipes/<%= recipe["id"] %>"> <%= recipe["title"] %></a></h2>
  <h3>Chef: <%= recipe["chef"] %></h3>
    <p>Ingredients: <%= recipe["ingredients"] %></p>
    <p>Directions: <%= recipe["directions"] %></p>
    <p>Prep Time: <%= recipe["formatted"]["prep_time"] %></p>
    <br>
<% end %>